html { 
    scroll-behavior: smooth; 
    }
* {
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .top { 
      max-height: 30px; min-height: 30px; top: 0; margin-top: 0;
      background-color: rgba(255, 235, 205, 0.281); 
      margin: 0; padding: 0;
      font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;
      border-radius: 5px;
    
}

  .toptext { 
      display: flex; 
      justify-content: center; 
      font-family: 'Lora', serif;
      font-weight: lighter;}

  .body::-webkit-scrollbar {
      display: none;
  }
  
  body {
    
      padding: 20px;
      background: #f1f1f1;
      -ms-overflow-style: none;
  }
  
  /* Header/Blog Title -=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
  .header {
      padding: 30px;
      font-size: 40px;
      text-align: center;
      background: rgba(204, 190, 190, 0.274); 
      border-radius: 5px;
      display: flex;
    
    
  }

  .Spectacled { 
      margin-top: 50px; 
      display: flex;
      flex-wrap: wrap;
      bottom: 45px;  
      font-family: 'Lora', serif;

    
    }

  .pawn { 
      flex-wrap: wrap; 
      height: 5%; 
      width: 5%;
      margin: 0;   
      top: 45px; 
      margin-top: 0%;
       
    }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column 
  .leftcolumn {
    float: left;
    width: 75%; */
  }
  
  /* Right column 
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px; */
  }
  
  /* Fake image 
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px; */
  }
  
  /* Add a card effect for articles 
  .card {
    padding: 20px;
    margin-top: 20px;
  }
  */

   /* entry section(blog post) -=-=-=-=-=-==-=-=-=-=-=-=-=-=-=*/

  .entrytitle { border-top: 1.4px double indigo; 
    font-family: 'Merienda', cursive;}

  .description { text-indent: 1.6cm; 
    font-family: 'Merienda', cursive; 
    text-decoration: underline;
}

.fakeimage { width: 100%; top: 0; padding: 0; }

  .paragraph {
      margin: 0;
      padding: 0;
      font-size: 1.65rem;
      font-family: 'Merienda', cursive;
      border-bottom: dotted gray;
}
  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  */
  
  /* Footer  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==*/
  .footer {
    padding: 2px;
    text-align: center;
    background: #ddd;
    margin-top: 2px;
    border-radius: 6px;
  }

  .footer-text { text-indent: .5rem;
}

  .arrow { 
        display: inline-flex; 
        position: absolute; 
        height: 2.7rem;
  }


  .fa {
    padding: 20px;
    display: inline-flex; 
    justify-content: flex-end; 
    position: absolute width: 50%; 
    height: 50%; 
  }
    .fa:hover {
        opacity: 0.7;
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

